:root {
  --green: rgb(39, 189, 39);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 1rem;
}

.favorite-button {
  border: none;
  background: none;
  padding: 0 0.25rem;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 gray;
}

.favorite-button.active,
.favorite-button:hover {
  text-shadow: 0 0 0 gold;
  cursor: pointer;
}

.adopt-button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: var(--green);
  color: white;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
  text-shadow: 0 0 0 var(--green);
}

main {
  padding: 0 1rem;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

.pet-list {
  list-style: none;
}

.pet {
  margin: 1rem;
}

.pet img {
  width: 100%;
}

@media (min-width: 768px) {
  .pet-list {
    display: flex;
    flex-wrap: wrap;
  }

  .pet {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .pet {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .pet {
    width: calc(20% - 2rem);
  }
}